[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(70)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(240)|float %}
    
    # Disable the motion sensor at the start of printing to avoid false triggers
    #SET_FILAMENT_SENSOR SENSOR=filament_sensor_motion ENABLE=0
    # 1. Pre-heat the bed and nozzle
    
    M140 S{BED_TEMP}
    M104 S{EXTRUDER_TEMP}
    # 2. Home all axes
    G28

    # 3. Wait for bed to reach temperature
    M190 S{BED_TEMP}
    
    # 4. Wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}
    
    # 5. Auto Bed Leveling (Remove if you don't have a CR/BL Touch)

    BED_MESH_CALIBRATE ADAPTIVE=0
    G28
    # 6. Purge Line to prime the nozzle    
    G92 E0                     ; Reset extruder
    G90
    G1 Z2.0 F3000              ; Move Z Axis up little to prevent scratching of heat bed
    G1 X0.1 Y20 Z0.3 F5000.0   ; Move to start position
    G1 X0.1 Y200.0 Z0.3 F1500.0 E15 ; Draw the first line
    G1 X0.4 Y200.0 Z0.3 F5000.0 ; Move to side a little
    G1 X0.4 Y20 Z0.3 F1500.0 E30 ; Draw the second line
    G92 E0                     ; Reset extruder
    G1 Z2.0 F3000              ; Move Z Axis up little

    # Re-enable the sensor once the print actually begins
 #   SET_FILAMENT_SENSOR SENSOR=filament_sensor_motion ENABLE=1
  #  SET_FILAMENT_SENSOR SENSOR=filament_sensor_runout ENABLE=1



[gcode_macro END_PRINT]
gcode:
    # 1. Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    
    # 2. Relative positioning and retract
    G91
    G1 E-1 F300
    
    # 3. Raise nozzle and present bed
    G1 Z10 F3000
    G90
    G1 X0 Y220 F3000
    
    # 4. Disable steppers
    M84

[pause_resume]

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: BASE_PAUSE
gcode:
 
    ##### set defaults #####
    {% set x = params.X|default(10) %}      # Edit to your preferred park position
    {% set y = params.Y|default(10) %}      # Edit to your preferred park position
    {% set z = params.Z|default(25) %}      # Relative lift amount
    {% set e = params.E|default(1) %}       # Retraction distance
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% set lift_z = z|float %}
    {% if act_z < (max_z - lift_z) %}
        {% set z_safe = lift_z %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    BASE_PAUSE
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E-{e} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}    
      G1 Z{z_safe} F900
      G90
      G1 X{x} Y{y} F6000
    {% else %}
      {action_respond_info("Printer not homed")}
    {% endif %}

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: BASE_RESUME
gcode:
    
    ##### set defaults #####
    {% set e = params.E|default(1) %} # Edit to your preferred retract distance
    ##### end of definitions #####
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E{e} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}  

    BASE_RESUME
